In [1]:
3+3

6

In [2]:
import numpy

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\munkherdene\appdata\local\programs\python\python310\lib\site-packages (1.26.4)

In [4]:
def add(n, y)
  if n == 0
    return n
  end
  n + y
end
puts add(0, 3)

SyntaxError: expected ':' (1153231798.py, line 1)

In [5]:

	

print(250 + 100 + 400)

750

In [6]:

	

print(50/4)

12.5

In [7]:
print(50%3)

2

In [8]:
print(2/0)

ZeroDivisionError: division by zero

In [9]:
print(2**3)

8

In [10]:
print(2**0.5)

1.4142135623730951

In [11]:
print(type(50))
print(type(4))
print(type(50/4))

<class 'int'>
<class 'int'>
<class 'float'>

In [12]:
print(float(2))
print(type(float(2)))

2.0
<class 'float'>

In [13]:
print(int(3.7))

3

In [14]:
print(z)
z = 100 - 50

NameError: name 'z' is not defined

In [15]:
z = 100 - 50
print(z)

50

In [16]:
x = 1
x += 5
print(x)

6

In [17]:
student_name = "Alice"
print(student_name)

Alice

In [18]:
student_name = "Alice"
print("my name is" + student_name + "!!")

my name isAlice!!

In [19]:
student_name = "Alice"
student_age = 19
print("I am {1} years old and my name is {0}.".format(student_name, student_age))

I am 19 years old and my name is Alice.

In [20]:
today_temperature = 3.53
tomorrow_temperature = -5.27
print("Today's lowest temperature is {:.1f} and tomorrow's lowest temperature is {:.1f}.".format(today_temperature, tomorrow_temperature))

Today's lowest temperature is 3.5 and tomorrow's lowest temperature is -5.3.

In [21]:
today_temperature = 3.53
tomorrow_temperature = -5.27
print("Today's lowest temperature is {:.2f} and tomorrow's lowest temperature is {:.1f}.".format(today_temperature, tomorrow_temperature))

Today's lowest temperature is 3.53 and tomorrow's lowest temperature is -5.3.

In [22]:
today_temperature = 3.53
tomorrow_temperature = -5.27
print("Tomorrow's lowest temperature is {1:+.1f} and today's lowest temperature is {0:+.1f}.".format(today_temperature, tomorrow_temperature))

Tomorrow's lowest temperature is -5.3 and today's lowest temperature is +3.5.

In [23]:
print("python".capitalize())

Python

In [24]:
student_age = 19
print("Student age", student_age)

Student age 19

In [25]:
print("Student age", student_age, sep=":")

Student age:19

In [26]:
print("Student age{}".format(student_age))
print("Student age", student_age, sep="")
print("Student age"+str(student_age))

Student age19
Student age19
Student age19

In [27]:
print("Student age{}".format(student_age))
print("Student age", student_age, sep=":")
print("Student age"+str(student_age))

Student age19
Student age:19
Student age19

In [29]:
str(b'Zoot!')

"b'Zoot!'"

In [30]:
ham[1:9], ham[1:9:3], ham[:9:3], ham[1::3], ham[1:9:]
ham[lower:upper], ham[lower:upper:], ham[lower::step]
ham[lower+offset : upper+offset]
ham[: upper_fn(x) : step_fn(x)], ham[:: step_fn(x)]
ham[lower + offset : upper + offset]

NameError: name 'ham' is not defined

In [31]:
def foo(x):
    if x >= 0:
        return math.sqrt(x)
    else:
        return None

def bar(x):
    if x < 0:
        return None
    return math.sqrt(x)

In [32]:
10

10

In [33]:
if foo.startswith('bar'):

SyntaxError: incomplete input (3005170670.py, line 1)

In [34]:
january_average_temperature = 6
february_average_temperature = 7
print("The average temperature for each month is {} degrees in January and {} degrees in February!!".format(january_average_temperature, february_average_temperature))

The average temperature for each month is 6 degrees in January and 7 degrees in February!!

In [35]:
january_average_temperature = 6
february_average_temperature = 7
print("The average temperature for each month is {1} degrees in January and {0} degrees in February!!".format(january_average_temperature, february_average_temperature))

The average temperature for each month is 7 degrees in January and 6 degrees in February!!

In [36]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print(monthly_average_temperatures)
print(type(monthly_average_temperatures))

[6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
<class 'list'>

In [37]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("The average temperature for each month is {} degrees in January and {} degrees in February!!".
      format(monthly_average_temperatures[0], monthly_average_temperatures[1]))

The average temperature for each month is 6 degrees in January and 7 degrees in February!!

In [38]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
print("The average temperature for each month is {} degrees in January and {} degrees in February!!".
      format(monthly_average_temperatures[3], monthly_average_temperatures[1]))

The average temperature for each month is 15 degrees in January and 7 degrees in February!!

In [41]:
student_name = "Alice"
student_age = 10
if student_age < 20:
  print("{} is under 20 years old.".format(student_name))
else:
  print("{} is over 20 years old.".format(student_name))

Alice is under 20 years old.

In [43]:
student_name = "Alice"
student_age = 10
if student_age < 20:
  print("{} is under 20 years old.".format(student_name))

Alice is under 20 years old.

In [45]:
student_name = "Alice"
student_age = 23
if student_age < 20:
  print("{} is under 20 years old.".format(student_name))
elif student_age == 21:
  print("{} is 21 years old.".format(student_name))
elif student_age == 22:
  print("{} is 22 years old.".format(student_name))
else:
  print("{} Is over 23 years old.".format(student_name))

Alice Is over 23 years old.

In [46]:
if True:
  print("Hello, Boolean!")

Hello, Boolean!

In [47]:
if False:
  print("Hello, Boolean!")

In [48]:
1

1

In [49]:
ADULT_AGE = 20

student_name = "Alice"
student_age = 19
if student_age < ADULT_AGE:
    print("{} is under the age of {}.".format(student_name, ADULT_AGE))
else:
    print("{} is over {} years old.".format(student_name, ADULT_AGE))

Alice is under the age of 20.

In [50]:
for i in range(5, 10):
  print(i)

5
6
7
8
9

In [51]:
for i in range(2, 8):
  print(i)

2
3
4
5
6
7

In [52]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
for i in range(10):
  print(i)
print(range(10))
print(list(range(10))

SyntaxError: incomplete input (3954099354.py, line 4)

In [55]:
for i in range(10):
  print(i)
print(range(10))
print(list(range(10))

SyntaxError: incomplete input (3954099354.py, line 4)

In [56]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i in range(len(monthly_average_temperatures)):
  print("{} The average monthly temperature is {} degrees!!".format(i+1, monthly_average_temperatures[i]))

1 The average monthly temperature is 6 degrees!!
2 The average monthly temperature is 7 degrees!!
3 The average monthly temperature is 9 degrees!!
4 The average monthly temperature is 15 degrees!!
5 The average monthly temperature is 20 degrees!!
6 The average monthly temperature is 22 degrees!!
7 The average monthly temperature is 27 degrees!!
8 The average monthly temperature is 26 degrees!!
9 The average monthly temperature is 23 degrees!!
10 The average monthly temperature is 17 degrees!!
11 The average monthly temperature is 12 degrees!!
12 The average monthly temperature is 7 degrees!!

In [57]:
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for i, temperature in enumerate(monthly_average_temperatures):
  print("{} The average monthly temperature is {} degrees!!".format(i+1, temperature))

1 The average monthly temperature is 6 degrees!!
2 The average monthly temperature is 7 degrees!!
3 The average monthly temperature is 9 degrees!!
4 The average monthly temperature is 15 degrees!!
5 The average monthly temperature is 20 degrees!!
6 The average monthly temperature is 22 degrees!!
7 The average monthly temperature is 27 degrees!!
8 The average monthly temperature is 26 degrees!!
9 The average monthly temperature is 23 degrees!!
10 The average monthly temperature is 17 degrees!!
11 The average monthly temperature is 12 degrees!!
12 The average monthly temperature is 7 degrees!!

In [58]:
MONTH_NUMBERS = list(range(1,13))
monthly_average_temperatures = [6, 7, 9, 15, 20, 22, 27, 26, 23, 17, 12, 7]
for month_number, temperature in zip(MONTH_NUMBERS, monthly_average_temperatures):
  print("{} The average monthly temperature is {} degrees!!".format(month_number, temperature))

1 The average monthly temperature is 6 degrees!!
2 The average monthly temperature is 7 degrees!!
3 The average monthly temperature is 9 degrees!!
4 The average monthly temperature is 15 degrees!!
5 The average monthly temperature is 20 degrees!!
6 The average monthly temperature is 22 degrees!!
7 The average monthly temperature is 27 degrees!!
8 The average monthly temperature is 26 degrees!!
9 The average monthly temperature is 23 degrees!!
10 The average monthly temperature is 17 degrees!!
11 The average monthly temperature is 12 degrees!!
12 The average monthly temperature is 7 degrees!!

In [59]:
num = 0
while num < 10:
  print(num)
  num += 3

0
3
6
9

In [60]:
num = 0
while True:
  print(num)
  num += 3
  if num >= 10:
    break

0
3
6
9

In [61]:
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

NameError: name 'users' is not defined

In [62]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [63]:
for num in range(2, 10):

    if num % 2 == 0:

        print("Found an even number", num)

        continue

    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [64]:
def print_hello_world():
  print("Hello, World!")

In [65]:
def print_hello_something(something, end = "!"):
  print("Hello, {}{}".format(something, end))

print_hello_something("Python")
print_hello_something("Python", end = "?")

Hello, Python!
Hello, Python?

In [66]:
def print_hello_something(something, end):
  print("Hello, {}{}".format(something, end))

print_hello_something("Python", "?")

Hello, Python?

In [67]:
def hello_something(something, end = "!"):
  return "Hello, {}{}".format(something, end)

print(hello_something("Python", end = "!!"))

Hello, Python!!

In [68]:
def sample_function(x, y):
  answer = (x+y) * 2
  return answer

print(sample_function(3, 5))
print(sample_function(10, 3))
print(sample_function(-20, -10)

SyntaxError: incomplete input (2520144120.py, line 7)

In [69]:
def sample_function2(x, y):
  answer1 = (x+y) * 2
  answer2 = answer1 + 10
  return answer1

print(sample_function2(3, 5))
print(answer2) # NameError

16

NameError: name 'answer2' is not defined

In [70]:
def sample_function3(x, y):
  answer1 = (x+y) * 2
  answer2 = answer1 + 10
  return answer1, answer2

answer1, answer2 = sample_function3(3, 5)
print(answer1)
print(answer2)

16
26

In [71]:
ADULT_AGE = 20

student_name = "Alice"
student_age = 19
if student_age < ADULT_AGE:
    print("{} is under the age of {}.".format(student_name, ADULT_AGE))
else:
    print("{} is over {} years old.".format(student_name, ADULT_AGE))

Alice is under the age of 20.

In [72]:
ADULT_AGE = 20 # Adult age

def text_adult_age(personal_age, adult_age = 20):
  """
  Returns a string indicating whether or not you are over the adult age.

  Parameters:
  ------------
  personal_age : int
    Age of the person you want to judge
  adult_age : int (default : 20)
    Adult age. 20 years old by default.

  Returns:
  ------------
  str
    string greater than or equal to adult_age and less than
  """
  if personal_age > adult_age:
    return "Over the age of {}".format(adult_age)
  else:
    return "Under the age of {}".format(adult_age)

# Student information
student_name = "Alice"
student_age = 19

print("{} is {}".format(student_name, text_adult_age(student_age, adult_age = ADULT_AGE)))

Alice is Under the age of 20

In [74]:
print(type("42"))
print(type(4.2/3))

<class 'str'>
<class 'float'>

In [75]:
def all(iterable):
    for element in iterable:
        if not element:
            return False
    return True

In [76]:
pip install numpy

Requirement already satisfied: numpy in c:\users\munkherdene\appdata\local\programs\python\python310\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [77]:
# Best practice, use an environment rather than install in the base env
conda create -n my-env
conda activate my-env
# If you want to install from conda-forge
conda config --env --add channels conda-forge
# The actual install command
conda install numpy

SyntaxError: invalid syntax (2928272308.py, line 2)

In [78]:

conda create -n my-env

ValueError: The python kernel does not appear to be a conda environment.  Please use ``%pip install`` instead.